<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="person">

    <cache type="com.yiluoe.cims.util.cache.MyBatisCache"/>

    <!-- 报表 -->
    <select id="letterOfAdmin" resultType="long">
        select count(1) from cims_person where month(start) = month(now())
    </select>
    <!-- Eed -->

    <insert id="insert" parameterType="Person">
        insert into cims_person(name,card,state,grade,start,heating,property,reason)
        values(#{name},#{card},#{state},#{grade},#{start},#{heating},#{property},#{reason})
    </insert>

    <select id="queryAll" resultType="Person">
        select id,name,card,state,grade,start,heating,property,reason from cims_person
    </select>

    <select id="queryByPage" parameterType="Map" resultType="Person">
        select id,name,card,state,grade,start,heating,property,reason from cims_person
        <where>
            <if test="null != name and '' != name">
                name like concat('%',#{name},'%')
            </if>
            <if test="null != card and '' != card">
                and card=#{card}
            </if>
            <if test="null != state and (state == 1 or state == 2)">
                and state=#{state}
            </if>
            <if test="null != heating">
                and heating=#{heating}
            </if>
            <if test="null != property">
                and property=#{property}
            </if>
            <if test="(null != ssd and '' != ssd) and (null == sed or '' == sed)">
                and start <![CDATA[ >= ]]> #{ssd}
            </if>
            <if test="(null != sed and '' != sed) and (null == ssd or '' == ssd)">
                and start <![CDATA[ <= ]]> #{sed}
            </if>
            <if test="null != ssd and '' != ssd and null != sed and '' != sed">
                and start between #{ssd} and #{sed}
            </if>

            <if test="null != sig and '' != sign or 0 == sign or 1 == sign">
                and sign = #{sign,jdbcType=INTEGER}
            </if>
        </where>
            limit #{offset},#{pageSize}
    </select>

    <select id="queryByCount" parameterType="Map" resultType="Long">
        select count(1) from cims_person
            <where>
                <if test="null != name and '' != name">
                    name like concat('%',#{name},'%')
                </if>
                <if test="null != card and '' != card">
                    and card=#{card}
                </if>
                <if test="null != state and (state == 1 or state == 2)">
                    and state=#{state}
                </if>
                <if test="null != heating">
                    and heating=#{heating}
                </if>
                <if test="null != property">
                    and property=#{property}
                </if>

                <if test="null != ssd and '' != ssd and null != sed and '' != sed">
                    and start between #{ssd} and #{sed}
                </if>

                <if test="null != sig and '' != sign or 0 == sign or 1 == sign">
                    and sign = #{sign,jdbcType=INTEGER}
                </if>
            </where>
    </select>
    <!--mybatis对0的处理有点特殊-->
    
    <select id="queryById" parameterType="int" resultType="Person">
        select id,name,card,state,grade,start,heating,property,reason from cims_person
        where id=#{abaabaaba}
    </select>

    <select id="update" parameterType="Person">
        update cims_person set name=#{name},card=#{card},state=#{state},grade=#{grade},
        start=#{start},heating=#{heating},property=#{property},reason=#{reason}
        where id=#{id}
    </select>

    <!--/*delete from cims_person where id=#{id}*/-->
    <select id="delete" parameterType="int">
        update cims_person set sign = 0 where id = #{id}
    </select>

    <!--不能再select表里写注释-->
    <!--collection="array|list|map"-->
    <!--separator执行n-1次-->
    <select id="batch" parameterType="int">
        delete from cims_person where id in
            <foreach collection="array" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </select>


    <!--查询人员的补贴信息-->
    <resultMap id="subsidyInfoMap" type="Map">
        <result property="count" column="count"/>
        <result property="sum" column="sum"/>
    </resultMap>

    <select id="findSubsidy" parameterType="int" resultMap="subsidyInfoMap">
        select count(1) count,sum(money) sum
        from cims_subsidy
        where person_id = #{personidabababababa}
    </select>

</mapper>