<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="subsidy">
    
    <resultMap id="subsidyMap" type="subsidy">
        <id property="id" column="subsidyID"/> <!-- column="id" 查询结果中寻找字段 -->
        <result property="month" column="month"/>
        <result property="money" column="money"/>
        <result property="type" column="type"/>
        <association property="person" javaType="person"> <!--property="person"父级属性--> <!--javaType="person"别名-->
            <id property="id" column="personID"/>
            <result property="name" column="name"/>
            <result property="card" column="card"/>
            <result property="grade" column="grade"/>
            <result property="reason" column="reason"/>
        </association>
    </resultMap>

    <select id="queryByCount" resultType="Long" parameterType="Map">
        select count(1)
        from cims_subsidy s left join cims_person p on s.person_id = p.id
        <where>
            type=#{type}
            <if test="null != name and '' != name ">
                and name like concat('%',#{name},'%')
            </if>
            <if test="null != card and '' != card ">
                and card = #{card}
            </if>
            <if test="null != date and '' != date ">
                and concat(year(s.month),'-',lpad(month(s.month),2,'0'))=#{date}
            </if>
        </where>
    </select>

    <select id="queryByPage" resultMap="subsidyMap" parameterType="Map">
        select s.id as subsidyID,s.month,s.money,s.type,p.id as personID,p.name,p.card,p.grade
        from cims_subsidy s left join cims_person p on s.person_id = p.id
        <where>
            type=#{type}
            <if test="null != name and '' != name ">
                and name like concat('%',#{name},'%')
            </if>
            <if test="null != card and '' != card ">
                and card = #{card}
            </if>
            <if test="null != date and '' != date ">
                and concat(year(s.month),'-',lpad(month(s.month),2,'0'))=#{date}
            </if>
        </where>
        limit #{offset},#{pageSize}
   </select>

    <select id="delete" parameterType="Map">
        delete from cims_subsidy where type = #{type} and id = #{id}
    </select>

    <select id="queryById" parameterType="int" resultMap="subsidyMap">
        select s.id as subsidyID,s.month,s.money,s.type,p.id as personID,p.name,p.card,p.grade,p.reason
        from cims_subsidy s left join cims_person p on s.person_id = p.id
        where s.id = #{id}
    </select>

</mapper>