<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="subsidy">
    
    <resultMap id="subsidyMap" type="subsidy">
        <!-- column="id" 查询结果中寻找字段 -->
        <id property="id" column="subsidyID"/>
        <result property="month" column="month"/>
        <result property="money" column="money"/>
        <result property="type" column="type"/>
        <result property="sign" column="sign"/>
        <!--property="person"父级属性--> <!--javaType="person"别名-->
        <association property="person" javaType="person">
            <id property="id" column="personID"/>
            <result property="name" column="name"/>
            <result property="card" column="card"/>
            <result property="grade" column="grade"/>
            <result property="reason" column="reason"/>
        </association>
    </resultMap>

    <select id="queryByCount" resultType="Long" parameterType="Map">
        select count(1)
        from cims_subsidy s left join cims_person p on s.person_id = p.id
        <where>
            type=#{type}
            <if test="null != name and '' != name ">
                and name like concat('%',#{name},'%')
            </if>
            <if test="null != card and '' != card ">
                and card = #{card}
            </if>
            <if test="null != date and '' != date ">
                and concat(year(s.month),'-',lpad(month(s.month),2,'0'))=#{date}
            </if>
        </where>
    </select>

    <select id="queryByPage" resultMap="subsidyMap" parameterType="Map">
        select s.id as subsidyID,s.month,s.money,s.type,p.id as personID,p.name,p.card,p.grade,p.sign
        from cims_subsidy s left join cims_person p on s.person_id = p.id
        <where>
            type=#{type}
            <if test="null != name and '' != name ">
                and name like concat('%',#{name},'%')
            </if>
            <if test="null != card and '' != card ">
                and card = #{card}
            </if>
            <if test="null != date and '' != date ">
                and concat(year(s.month),'-',lpad(month(s.month),2,'0'))=#{date}
            </if>
        </where>
        limit #{offset},#{pageSize}
   </select>

    <select id="delete" parameterType="Map">
        delete from cims_subsidy where type = #{type} and id = #{id}
    </select>

    <select id="queryById" parameterType="int" resultMap="subsidyMap">
        select s.id as subsidyID,s.month,s.money,s.type,p.id as personID,p.name,p.card,p.grade,p.reason
        from cims_subsidy s left join cims_person p on s.person_id = p.id
        where s.id = #{id}
    </select>

    <!--查询本月没有补贴过的人员-->
    <select id="querySubsidyPerson" parameterType="Map" resultType="Map">
        select id,name,card from cims_person where
        <if test="type == 1">
            heating = 1
        </if>
        <if test="type == 2">
            property = 1
        </if>
        and id not in (select person_id from cims_subsidy
            where year(month) = year(now()) and month(month) = month(now()) and type = #{type})
    </select>

    <insert id="insert" parameterType="subsidy">
        insert into cims_subsidy(month, money, type, person_id)
        values(now(),#{money},#{type},#{personID})
    </insert>

    <update id="update" parameterType="subsidy">
        update cims_subsidy cs inner join cims_person cp on cs.person_id = cp.id
        set cs.money=#{money},cp.reason=#{person.reason}
        where cs.id=#{id} and cs.type=#{type}
    </update>

    <!--Map里包含两种类型的值int ids[] 和 int type-->
    <delete id="batch" parameterType="Map">
        delete from cims_subsidy where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        and type = #{type}
    </delete>

</mapper>